* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.clear {
  clear: both;
}

#app-name {
  font-family: 'Amita';
  font-size: 22px;
}

#home-button {
  position: relative;
  top: 2px;
  font-size: 16px;
}

#top-navbar-fixed {
  height: 60px;
  width: 100%;
  position: fixed;
}

#top-navbar-notfixed {
  height: 60px;
  width: 100%;
}

#title {
  font-size: 500%;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 100px;
}

#text {
  position: relative;
  top: 150px;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 200%;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
    /* animation-name binds the animation to an element
       animation-duration defines how long time an animation should take to complete
       animation-timing-function specifies the speed curve of the animation
                                 steps(n) displays an animation iteration along n stops along the transition
       animation-delay specifies a delay for the start of an animation
       animation-iteration-count specifies the number of times an animation should run.
       animation-direction specifies whether an animation should be played forwards (normal), backwards or in alternate cycles
       animation-fill-mode specifies a style for the target element when the animation is not playing (before it starts, after it ends, or both).
    */
    animation: typewriter 7s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
    animation-iteration-count: infinite;

}

/* specify CSS styles inside the @keyframes rule, the animation will
   gradually change from the current style to the new style at certain times. */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 22em;
    }
}

@keyframes blinkTextCursor {
    /* create blinking effect by changing transparency */
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color:transparent;
    }
}

.ui-autocomplete {
  max-height: 200px;
  max-width: 330px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}

#landing-container {
  width: 100%;
}

.form-container {
  background: #ffffff;
  margin-top: 60px;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#landing-img {
  width: 100%;
  height: 500px;
  background-image: url("stock_img_1.jpg");
  position: fixed;
  top: 60px;
  z-index: -1;
}

#landing-subsection-0 {
  width: 100%;
  height: 500px;
  background: white;
  position: relative;
  top: 560px;
}

#landing-subsection-1 {
  width: 100%;
  height: 500px;
  background: #FFFFFF;
  position: relative;
  top: 560px;
}

#ceo_image {
  height: 400px;
  width: 450px;
  border-radius: 5%;
}

#ceo_intro {
  height: 400px;
  width: 450px;
}

#footer {
  color: white;
  width: 100%;
  height: 100px;
  background: #302F2F;
  position: relative;
  top: 450px;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}

#content {
  padding: 40px;
}

#right-content {
  margin-top: 20px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
  right: 20px;
}

#search-left {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.form-group {
  width: 300px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#footer {
  position: relative;
  top: 500px;
}

#watchlist {
  margin-bottom: 30px;
}

/*
  start of chatbot section.
*/

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.chat-btn {
    z-index: 2;
    position: fixed;
    right: 50px;
    bottom: 150px;
    background: dodgerblue;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity 0.5s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.chat-btn:hover, .submit:hover {
    opacity: 1;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 220px;
    right: 50px;
    height: 400px;
    width: 300px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;

}

.show {
    display: flex;
}

.chat-area {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.income-msg {
    display: flex;
    align-items: center;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.income-msg .msg {
    background-color: dodgerblue;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
    margin-left: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.input-area {
    position: relative;
    display: flex;
    justify-content: center;
}

#chat-input[type="text"] {
    width: 90%;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 5px;
    height: 2.2rem;
}

.submit {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.7;
}

.out-msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.my-msg {
    display: flex;
    justify-content: flex-end;
    margin: 0.75rem;
    padding: 0.5rem;
    background-color: #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    word-break: break-all;
}

/*
  End of chatbot section.
*/

.left-content {
  margin-left: 20px;
  margin-right: 20px;
}

/* ======== request reset form ======== */
.logo {
  padding: 15px 0;
  font-size: 35px;
  color: #aaaaaa;
  font-weight: bold;
}

.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}

/* account profile page  */

.account-text {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 40px;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.mb-5, .my-5 {
  margin-bottom: 1rem!important;
}

/* view reminder page  */

.reminder-list {
  margin-top: 20px;
}

.reminder-list-item {
  margin-left: 20px;
  margin-right: 20px;
}

.reminder-list-item {
  margin-left: 10px;
  margin-right: 10px;
}

#no-reminder-alert {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
