{% extends "layout.html" %}
{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class='form-container container'>
    <legend class="border-bottom account-text account-font">Manage Account</legend>

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ icon }}">
        <div class="media-body">
          <h2 class="account-heading account-font">{{ current_user.username }}</h2>
          <p class="text-secondary account-font">{{ current_user.email }}</p>
        </div>
        <div class="media-body">
	  <form style="padding-top: 10px;" action="{{ url_for('users.deleteRequest') }}">
	    <button class="btn btn-outline-primary account-font" type="submit">Reset Password</button>
	  </form>
	  <form style="padding-top: 10px;" action="{{ url_for('users.deleteRequest') }}">
	    <button class="btn btn-outline-warning account-font" type="submit">&nbspReset Account&nbsp</button>
	  </form>
	  <form style="padding-top: 10px;" action="{{ url_for('users.deleteRequest') }}">
	    <button class="btn btn-outline-danger account-font" type="submit">Delete Account</button>
	  </form>
        </div>
      </div>

      <form method="POST" action="" enctype="multipart/form-data">
          <!-- protect our form from certain attacks -->
          {{ update_form.hidden_tag() }}
          <br>
          <legend class="border-bottom mb-4 account-font">Update your Account</legend>
          
          <div class="form-group">
            {{ update_form.username.label(class="form-control-label account-font") }}
            {% if update_form.username.errors %}
        {{ update_form.username(class="form-control form-control-lg is-invalid my-customised") }}
              <div class="alert alert-danger" role="alert">
                  {% for error in update_form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
        {{ update_form.username(class="form-control form-control-lg my-customised") }}
            {% endif %}
          </div>
          
          <div class="form-group">
            {{ update_form.email.label(class="form-control-label account-font") }}
            {% if update_form.email.errors %}
             {{ update_form.email(class="form-control form-control-lg is-invalid my-customised") }}
              <div class="alert alert-danger" role="alert">
                  {% for error in update_form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
        {{ update_form.email(class="form-control form-control-lg my-customised") }}
            {% endif %}
          </div>
          
          <div class="form-group">
            <div id="upload-icon-btn">
            {{ update_form.icon(id="actual-button", accept="image/*") }}
            <label for="actual-button" class="my-label">
              <span class="material-icons">
                add_photo_alternate
              </span>
              Choose your icon

            </label>
            </div>
            <!-- name of file chosen -->
            <span id="file-chosen">No file chosen</span>
            
            {% if update_form.icon.errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in update_form.icon.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
          </div>
          
          <div class="form-group">
              {{ update_form.submit(class="btn btn-outline-info account-font") }}
          </div>
      </form>
    </div>
</div>

<script>
  document.getElementById("search-stock-form").style.display = "none"
  document.getElementById("actual-button").style.display = "none"
  const actualBtn = document.getElementById('actual-button');
  const fileChosen = document.getElementById('file-chosen');
  actualBtn.addEventListener('change', function(){
    fileChosen.textContent = this.files[0].name
  })
</script>

{% endblock content %}