<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button class="chat-btn">
    <i class="material-icons">comment</i>
</button>
<div class="chat-popup">
  <div class="chat-area">
    <div class="income-msg">
      <img src="http://localhost:6969/static/assistant.png" class="avatar" alt="">
      <span class="msg"> Hi, How can I help you?</span>
    </div>
  </div>
  <div class="input-area">
    <input id="chat-input" type="text">
    <button class="submit"><i class="material-icons">send</i></button>
  </div>
</div>

<script>
const popup = document.querySelector('.chat-popup');
const chatBtn = document.querySelector('.chat-btn');
const submitBtn = document.querySelector('.submit');
const chatArea = document.querySelector('.chat-area');
const inputElm = document.querySelector('#chat-input');
const current_user_icon = "{{ current_user.icon }}";

// chat button toggler
chatBtn.addEventListener('click', () => {
  popup.classList.toggle('show');
})

// send msg
submitBtn.addEventListener("click", () => {
  let userInput = inputElm.value;
  console.log(userInput)
  console.log(current_user_icon)
  // ${} is String interpolation, it transforms the value of that variable into a string.
  let temp = `<div class="out-msg">
  <span class="my-msg">${userInput}</span>
  <img src="http://localhost:6969/static/account_icons/${current_user_icon}" class="avatar">
  </div>`

  // Insert a new element before the end of the element chatArea.
  chatArea.insertAdjacentHTML("beforeend", temp);
  inputElm.value = "";

  $.ajax({
    type:'POST',
    url: '/askQuestion/' + userInput,
    dataType: 'json',
    encode: true
  }).done(function(data) {
    let response = data.response;

    let format_response = `
    <div class="income-msg">
      <img src="../static/assistant.png" class="avatar" alt="">
      <span class="msg">${response}</span>
    </div>`

    chatArea.insertAdjacentHTML("beforeend", format_response);
    
  });
})
</script>