{% extends "layout.html" %}
{% block content %}
<div class="form-container container">
    <div class="row">
        <div id="Description" class="col-md-12">
            <p>Order description: {{action + " " + stock_obj.name + " (" + stock_obj.code + ")"}}</p>
        </div>
    </div>
    <div class="row">
        <div id="Stock name" class="col-md-12">
            <p> Stock name: {{ stock_obj.name }}</p>
        </div>
    </div>
    <div class="row">
        <div id="Price" class="col-md-4">
            <p> Price </p>
        </div>
        <div class="col-md-8">
        <h5> {{ price }}
        </div>
    </div>
    <div class="row">
        <div id="Quantity" class="col-md-12">
            <p> Quantity: {{ quantity }}</p>
        </div>
    </div>
    <div class="row">
        <div id="Total" class="col-md-12">
            <p> Total: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
	  <form method="POST" action="">
	    <!-- protect our form from certain attacks -->
	    {{ form.hidden_tag() }}
            {{ checkout_form.submit(class="btn btn-outline-info") }}
          </form>
        </div>
    </div>
</div>
{% endblock content %}