{% extends "layout.html" %}
{% block content %}
  <div id='landing-container'>
    <div id='landing-img'>
    </div>

    <div class="clear"></div>

    <div id='landing-subsection-0'>
      <div class="jumbotron" style="padding-left:200px;padding-right:200px">
	<h1 class="display-4">Have you tried virtual trading?</h1>
	<p class="lead">More and more people dive into the stock market with the mindset of being rich. However, Stock trading can be nerve-wracking for amateurs at first, because we are scared of getting it wrong and losing money. Only a few can call the shots in the stock market, and the vast majority with little experience may lose their hard-earned fortune. So is there a way to gain experience while not having to worry about devastating loss? Yes, welcome to the world of virtual trading!
</p>
	<hr class="my-4">
	<p>LeetTrader is one of the world's leading investment simulator</p>
      </div>
    </div>

    <div class="clear"></div>

    <div id='landing-subsection-1'>
      <div>
	<img id="ceo_image" src="../static/ceo.jpg">
      </div>
      <div id="ceo_intro">
	<h1>Our CEO</h1>
        <p>I don't believe in Science, and I can perform a magic such that the COV-19 will just be gone.</p>
      </div>
    </div>

    <div class="clear"></div>

    <footer id='footer'>
      <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
	<a href="#"> leettrader.com</a>
      </div>
    </footer>
  </div>
{% endblock content %}