{% extends "layout.html" %}
{% block content %}
<div id='landing-container'>
  <!-- <div id='landing-img'></div> -->
  <!-- <div class="clear"></div> -->
  <!-- <div id='landing-subsection-0'> -->
  <!-- <div class="jumbotron" style="padding-left:20px"></div> -->
  <h1 class="display-5" style="padding-top:70px; padding-bottom: 20px; padding-left: 20px;">Log in</h1>
  <div>
    <form method="POST" action="">
      <!-- protect our form from certain attacks -->
      {{ form.hidden_tag() }}
      <!-- Bootstrap stuff -->
      <div class="container">
        {{ form.email.label() }}
        {% if form.email.errors %}
          {{ form.email(class="form-control is-invalid") }}
          <div class="alert alert-primary" role="alert">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
            {{ form.email(class="form-control") }}
        {% endif %}
      </div>

      <div class="container">
        {{ form.password.label() }}
        {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }}
          <div class="alert alert-primary" role="alert">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control") }}
        {% endif %}  
      </div>

      <div class="form-check" style="padding-left: 80pt;">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
      </div>


      <div class="container"  style="padding-top: 30px">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
      
    </form>
  </div>
  <small class="text-muted" style="padding-left: 80px;">
    Forgot your password ? <a href="/login">find your password here</a>
  </small>

  <footer id='footer'>
    <div class="footer-copyright text-center py-3" style="color: white;">
      © 2020 Copyright:<a href="/"> leettrader.com</a>
    </div>
  </footer>
</div>
{% endblock content %}