{% extends "layout.html" %}
{% block content %}
<div class='form-container container'>
  <div>
    <form method="POST" action="">
      <!-- protect our form from certain attacks -->
      {{ form.hidden_tag() }}
      <legend class="border-bottom mb-4">Log In</legend>

      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
	  {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="alert alert-danger" role="alert">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
	  {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
	  {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="alert alert-danger" role="alert">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
	  {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
        

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes style="padding-top: 10px;">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
      </div>

      <div class="form-check form-group">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
      </div>


      <div class="form-group">
	{{ form.submit(class="btn btn-outline-info") }}
      </div>
      <div>
	<small class="text-muted">
	  <a href="/resetPassword">Forgot your password?</a>  
	</small>
        <br>
        <!-- <small>
	  <a href="/login">find your password here</a>
	</small> -->
      </div>
    
    </form>
  </div>
</div>
{% endblock content %}