{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
	        <div class="alert alert-{{ category }} ml-2 mr-3 mt-2 mb-2">
	          {{ message }}
	        </div>
	      {% endfor %}
      {% endif %}
    {% endwith %}
    
    {% block left_content %}{% endblock %}
  </div>


  <div id="right-content" class="col-md-4">
    {% include "watchlist.html" %}
  </div>
</div>
{% endblock content %}