{% extends "layout.html" %}
{% block content %}
  <main id="content" role="main" class="container">
    <div class="row">
      <div class="col-md-8">
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    {% for category, message in messages %}
	      <div class="alert alert-{{ category }}">
					{{ message }}
	      </div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}
        {% block left_content %}{% endblock %}
      </div>
      <div class="col-md-4">
	<div id="right-content">
          {% include "watchlist.html" %}
	</div>
      </div>
    </div>
  </main>
{% endblock content %}