{% extends "layout.html" %}
{% block content %}
<div class='form-container container'>
  <div>
    <h1>{{ action }}</h1>
    <form method="POST" action="">
    {{form.hidden_tag() }}
	
    <!-- Quantity -->
    <div class="form-group">
      {{order_form.quantity.label(class="form-control-label") }}
      {{ order_form.quantity(class="form-control")}}
      {% if order_form.quantity.errors %}
      <div class="alert alert-primary" role="alert">
      {% for error in order_form.quantity.errors %}
	<span>{{ error }}</span>
      {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Action -->
    <div class="form-group">
      {{order_form.transaction_type.label(class="form-control-label") }}
      {{ order_form.transaction_type(class="form-control")}}
    </div>

  </div>

  <!--Proceed to checkout button-->
  <div class="form-group">
    {{order_form.submit(class="btn btn-outline-info")}}
  </div>    
    <!-- not enough stock flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
	<ul class=flashes style="padding-top: 10px;">
	  {% for category, message in messages %}
	    <div class="alert alert-{{ category }}">
	      {{ message }}
	    </div>
	  {% endfor %}
	</ul>
      {% endif %}
    {% endwith %}
</div>

{% endblock content %}