{% extends "layout.html" %}
{% block content %}
    <div class='form-container container'>
        <div>
            {{ action }}
            <h1> Order a stock </h1>
            <form method="POST" action="">
            {{form.hidden_tag() }}
            
            <!--Quantity -->
            <div class="form-group">
                {{order_form.quantity.label(class="form-control-label") }}
                {{ order_form.quantity(class="form-control")}}
                {% if order_form.quantity.errors %}
                    <div class="alert alert-primary" role="alert">
                        {% for error in order_form.quantity.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            </div>
            {% endif %}
        </div>
        <!--Proceed to checkout button-->
        <div class="form-group">
            {{order_form.submit(class="btn btn-outline-info")}}
        </div>    
    </div>

{% endblock content %}