<div style="padding-top: 20px;padding-left: 40px;">

  <h5>Owned Stocks (New Zealand)</h5>
  <table id="nz_List" class="list-group" style="padding-right: 40px;"></table>
  <h4 id="nz_PL" align="right" style="padding-right: 40px;"></h4>

  </br></br>
  <h5>Owned Stocks (Australia)</h5>
  <table id="au_List" class="list-group"></table>
  <h4 id="au_PL" align="right" style="padding-right: 40px;"></h4>
</div>


<script>
  // Create list of user's owned stocks
  $.when($.ajax({
      type: "GET",
      url: "/get_ownedList",      
      dataType: "json",
      success: function(data) { 
        
        // Create table of NZ stocks
        first_row = '<tr style="border: 1px solid grey; text-align: center; padding: 10px;">'
        first_row += "<th> Company Name </th>" + "<th> Qty </th>"
        first_row += "<th> Worth </th>" + "<th> Paid </th>" + "<th> P/L </th>"
        first_row += '</tr>'
        $("#nz_List").append(first_row);

        for (i = 0; i < data.ownedList[0].length; i++){
          $("#nz_List").append(data.ownedList[0][i]);
        }

        // Create table of AU stocks
        $("#au_List").append(first_row);
        for (i = 0; i < data.ownedList[2].length; i++){
          $("#au_List").append(data.ownedList[2][i]);
        }

        // ownedList[0] is a list of <span> of total P/L
        tot = "</br><div> P/L (NZD): " + data.ownedList[1] + "</div>"
        $("#nz_PL").append(tot)

        tot2 = "</br><div> P/L (AUD): " + data.ownedList[3] + "</div>"
        $("#au_PL").append(tot2)
      }
    }))
</script>