{% extends "main_layout.html" %}
{% block left_content %}
{% if reminder_items_list|length == 0 %}
<div id='no-reminder-alert' class="alert alert-danger">no reminder exists</div>
{% else %}
<ul class="list-group reminder-list">
  {% for reminder_item in reminder_items_list %}
    <li class="list-group-item reminder-list-item">
    <h2><a href='/search/{{reminder_item.stock.get_code()}}'>{{reminder_item.stock.get_name()}} ({{reminder_item.stock.get_code()}})</a></h2>
      <ul class="list-group reminder-list">
      {% for reminder in reminder_item.reminder_list %}
        <div class="row">
	  <div class="col-md-5">
	    <li class="list-group-item reminder-list-item-item">
              <div class="float-left">
	      <p>original price: {{ reminder.orig_price }}</p>
	      <p>target price: {{ reminder.target_price }}</p>
              </div>
              <a href="{{ url_for('users.delete_reminder', reminder_id=reminder.get_id()) }}" class="btn btn-outline-danger float-left ml-5 mt-4">Remove</a>
              <div class="clear"></div>
	    </li>
	  </div>
        </div>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock left_content %}