{% extends "main_layout.html" %}
{% block left_content %}
{% if reminder_items_list|length == 0 %}
<div id='no-reminder-alert' class="alert alert-danger">no reminder exists</div>
{% else %}
<ul class="list-group reminder-list">
  {% for reminder_item in reminder_items_list %}
    <li class="list-group-item reminder-list-item">
    <h2>{{reminder_item.stock.get_name()}} ({{reminder_item.stock.get_code()}})</h2>
      <ul class="list-group reminder-list">
      {% for reminder in reminder_item.reminder_list %}
	<li class="list-group-item reminder-list-item-item">
	<p>original price: {{ reminder.orig_price }}</p>
	<p>target price: {{ reminder.target_price }}</p>
	</li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock left_content %}