{% extends "layout.html" %}
{% block content %}
<div class='form-container container'>
  <div class="text-center" style="padding:50px 15px">
    <div class="logo"> Reset your password from here :) </div>
    <div class="login-form-1">
      <form method="POST" action="">
        <div class="etc-login-form" style="padding-bottom:30px">
          <p>"When you fill in your registered email address, you will be sent instructions on how to reset your password."</p>
        </div>
        <!-- protect our form from certain attacks -->
        {{ form.hidden_tag() }}
        <div class="login-form-main-message">
          <div class="main-login-form">
            <div class="login-group">
              <div class="form-group">
                {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Enter your email") }}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.email(class="form-control form-control-lg", placeholder="Enter your email") }}
                {% endif %}

              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock content %}