{% if request.path != '/' %}
<nav id='top-navbar-notfixed' class="navbar navbar-expand-md navbar-dark bg-dark">
{% else %}
<nav id='top-navbar-fixed' class="navbar navbar-expand-md navbar-dark bg-dark">
{% endif %}

  <!-- Home Button "LeetTrader" -->
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <a id="app-name" class="navbar-brand" href="/">LeetTrader</a>
    {% if current_user.is_authenticated %}
      <li class="nav-item ml-2">
	<a id="home-button" class="nav-link" href="{{ url_for('user.home') }}">Home</a>
      </li>
    {% endif %}
    </ul>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- Logout Button & Searchbar-->
      {% if current_user.is_authenticated %}

        <li class="nav-item mr-3">
          <form method="POST" class="form-inline" action="{{ url_for('stock.search_stock', stock=form.stock.data) }}">
            {{form.hidden_tag() }}
            <div class="input-group">
              {{ form.stock(id="search-bar", class="form-control mr-sm-2") }}
            </div>
            <div class="input-group">
              {{ form.submit(class="btn btn-outline-success my-2 my-sm-0") }}
            </div>
          </form>
        </li>
	<li class="nav-item dropdown mr-1">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  </a>
	  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
	    <a class="dropdown-item" href="#">My Stocks</a>
	    <a class="dropdown-item" href="#">View Reminders</a>
      <a class="dropdown-item" href="/help"> Help page </a>
	    <a class="dropdown-item" href="/tutorial">Tutorial</a>
	  <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="/logout">Logout</a>
	  </div>
	</li>

      {% else %}
	<!-- Login / Register Buttons if not login -->
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>


<script>
  $( function() {
    // stocks stores is a Python object storing a list of string representations of stocks.
    var availableTags = {{stocks|tojson}};
    var NoResultsLabel = "No matching stocks";
    
    $("#search-bar").autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableTags, request.term);
        if (!results.length) {results = [NoResultsLabel];}
        response(results);
      },

      select: function (event, ui) {
        if (ui.item.label === NoResultsLabel) {event.preventDefault();}
      },

      focus: function (event, ui) {
        if (ui.item.label === NoResultsLabel) {event.preventDefault();}}
    })
  });
</script>