{% extends "layout.html" %}
{% block content %}
<div>
    <h1> All in one tutorial on how to use LeetTrader! </h1>
</div>
<div>
    <h3> Searching for stocks <h3>
    <p> You can search for stocks using the search bar on the top right. YYou can use the search bar at the top right of the page. Type in parts of a stock name or stock code
        and our autocomplete feature will try to guess the stock you are trying to find. Click on the stock if the autocomplete feature has the stock you are looking for. Once
        entered, you can click "Search" right next to the search bar on the right and it will take you to the stock page.
    </p>

    <h3> Buying stocks </h3>
    <p> Note that all stocks purchased are simulated and are not real. This is for practice purposes only. Buying a stock here means you simul-own it.
        Buying a stock is simple. First, you will need to find the stock you are looking for. You can use the search bar for this, or click on a stock from your watchlist. 
        The doing so will take you to the stock's page where you can view information on the stock. Click on the "Buy stock" button. This button will take you to a page where
        you can choose how many of the stock you want to buy. Once you have decided on the quantity, click "Proceed" to go to the checkout page. This page will tell you the 
        market price for the stock and the quantity you have chosen to buy. You can cancel to go back the stock page and try again (or do something else) or, if you are happy 
        with the information, you can click "Checkout" to finalise your purchase. You are now done. You have successfully purchased your stocks. 
    </p>

    <h3> Selling your stocks <h3>
    <p> Note that all stocks you sell here are simulated and are not real. This is for practice purposes only. Selling a stock here means you sold a stock you simul-own.
        Selling stocks takes some steps for buying stocks. You will need to find the stock you are looking for. You can use the search bar, or click on the stock from your watchlist.
        This will take you to the stock's page. If you simul-own the stock, then you will see a button next to the "Buy stock" button named "Sell stock". Click on "Sell stock" to be
        directed to a page where you can choose how many stocks to sell. Entering more than what you actually simul-own will not allow you to proceed and you will need to enter a valid
        number. After entering a valid quantity, click on "Proceed" to go to the checkout page. The stock price and the quantity you entered will be shown. If you are happy with what you
        see, click "Checkout" to finalise your sell order, otherwise, click cancel to go back to the stock's page. 
    </p>

    <h3> Using your watchlist <h3>
    <p> Your watchlist is usually visible on the right side on most pages on LeetTrader. You may click on stocks here to be taken to the respective stock's page. This make it easy and quick
        to make buy or sell orders, view detailed information, removing stock from your watchlist or adding it as a reminder. See the relevant tutorials for more information on how to do 
        said actions. Your watchlist also displays some information on the stock: the stock name, stock code, market price, price change and percentage change. This lets you react to market 
        changes quickly while you are on LeetTrader.
    </p>

    <h3> Adding to your watchlist <h3>
    <p> You will need to go to the stock's page. You will have to use the search bar for this. Once you have searched for your interested stock and have been directed to the stock's page.
        Click the "Add to watchlist" button below the stock's information. This will add the stock to your watchlist and will be immediately visible on the watchlist on the right. If 
        there is no "Add to watchlist" button and "Remove from watchlist" is appears instead, this means that the stock is already in your watchlist.
    </p>

    <h3> Removing from your watchlist <h3>
    <p> The quickest way is to click on the stock you want to remove on your watchlist. This will take you to the stock's page. Click on "Remove from watchlist". A pop-up will appear
        asking for confirmation to remove the stock from your watchlist. Click "Remove" to confirm the removal of the stock from your watchlist. Otherwise, click cancel if you don't
        want to remove that stock. If you have clicked "Remove", the stock will be immediately removed from your watchlist.
    </p>

    <h3> Viewing reminders <h3>
    <p> 
    </p>

    <h3> Adding reminders <h3>
    <p> 
    </p>

    <h3> Deleting reminders <h3>
    <p> 
    </p>

    <h3> Viewing historical data <h3>
    <p> 
    </p>

    <h3> Resetting password <h3>
    <p> 
    </p>

    <h3>  <h3>
    <p> 
    </p>
</div>

{% endblock content %}