<h3>Watchlist</h3>
<ul id="watchlist" class="list-group">
</ul>

<script>
  /*
    Call Get method of "/get_watchlist" in routes, 
    append watchlist items into watchlist
  */
  var wl = new Set();
  $.when($.ajax({
      type: "GET",
      url: "/get_watchlist",
      dataType: "json",
      success: function(data) { 

        for (i = 0; i < data.watchlist.length; i++){
          // Each item in data.watchlist is a formated string of stock info
          $("#watchlist").append(data.watchlist[i]);
        }
      }
    }))

</script>
